name: Package and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Package and Release
        uses: BigWigsMods/packager@v2
        with:
          args: -z
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
